---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";

const identity = {
    firstName: "Aaron",
    country: "USA",
    occupation: "Data Scientist",
    hobbies: ["coding", "running", "podcasts"]
};

const skills =["Python", "AWS", "Astro", "PySpark"];

const happy    = true;
const finished = false;
const goal     = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Welcome to my meanderings</h2>
    <p>This a simple page to tell you about myself.</p>
    <ul>
        <li>My name is { identity.firstName }.</li>
        <li>I am a {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
    </ul>
    <p>My skills include:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>I am exicted to learn Astro!</p>}
    {finished && <p>This about me is complete!</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p> My goal is not 3 days.</p>}
</BaseLayout>

